<h1>Update Product</h1>
<ul *ngIf="(displayerrors.length>0)" style="list-style-type:none;">
    <li *ngFor="let x of displayerrors">{{x}}</li>
</ul>
<div *ngIf="name.invalid">
<p *ngIf="name.errors.required">Name is required</p>
<p *ngIf="name.errors.minlength">Name must be at least 2 characters long</p>
</div>
        <div *ngIf="quantity.invalid">
                <p *ngIf="quantity.errors.required">Quantity is required</p>
        </div>

        <div *ngIf="price.invalid">
                <p *ngIf="price.errors.required">Price is required</p>
        </div>

<form (ngSubmit)='updateProduct()' #updateForm="ngForm">
Name:<input [(ngModel)]="product.name" type='text' name='a' required minlength='2' #name="ngModel">
<br>Quantity:<input [(ngModel)]="product.quantity" type='number' name='b' required #quantity="ngModel">
<br>Price:<input [(ngModel)]="product.price" type='number' name='c' required min=0 #price="ngModel">
<br><input type='submit' [disabled]="!updateForm.valid" value="UPDATE" style="background-color:greenyellow;">
</form>
<button (click)='resetproduct()'>RESET</button>
